<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Eat All the Burgers</h1>
    {{!-- <img class="img-responsive" src="/img/burgers.png"> --}}
    <img class="img-responsive img1" src="/img/burger.png">
    <img class="img-responsive img2" src="/img/pickleburger.png">
    <img class="img-responsive img3" src="/img/chickenburger.png">
    <img class="img-responsive img4" src="/img/onionburger.png">
    <img class="img-responsive img5" src="/img/bfastburger.png">
    <img class="img-responsive img6" src="/img/baconburger.png">
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="tbd panel panel-default col-sm-7">
      <div class="page-header">
        <h2>Burgers TBD</h2>
      </div>
      <div class="row container-fluid panel-body">
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
            <div class="row">
              <div class="col-sm-12">
                <li>
                  <div class="burger-name">{{this.name}}</div>
                  <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="btn" type="submit">Nom. Ate it!</button>
                  </form>
                </li>
              </div>
            </div>
            <hr>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <hr>
      {{!-- add a burger --}}
      <h3>Add a Burger</h3>
      <div class="row container-fluid panel-body">
        <form class="create-update-form" action="/" method="POST">

          <div class="form-group">
            <input type="text" id="ca" name="name" placeholder="Cheeseburger" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cheeseburger'" />
          </div>
          <button class="btn submitbtn" type="submit">Add Burger</button>
        </form>
      </div>
    </div>
   {{!--  burgers eaten --}}
    <div class="devoured panel panel-default col-sm-5">
      <div class="page-header">
        <h2>Burgers Devoured</h2>
      </div>
      <div class="row container-fluid panel-body">
        <ul>
          {{#each burgers}}
            {{#if this.devoured}}
              <li>
                {{this.name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div> 
  </div>
</div>


