body {
	/*background: black;
	color: white;*/
}

/*img {
	max-width: 250px;
	
}*/

.jumbotron {
	position: relative;
	overflow: hidden;
}
.jumbotron h1 {
	padding: 20px;
	position: relative;
	z-index: 2;
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 80px;

}
.jumbotron img {
	position: absolute;
	top: 0;
	left: 250px;
	opacity: 0.5;
	max-width: 340px;

}

button {
	background: chartreuse;
	color: black;
	border-radius: 10%;
}

/*li {
	list-style: none;
}*/

.tbd li {
	list-style: none;

}

li .burger-name {
	float: left;
}

li button {
	float: right;
	margin-bottom: 10px;
	margin-right: 40px;
}

/*.namelist {
	float: left;
}*/

/*.btnlist {
    position: absolute;
    right: 0;
}*/

/*
.tbd {
	float: left;
}

.devoured {
	float: left;
}*/

